node_modules
dist
build
.env
.env.production
.env.staging
.env.docker
.DS_Store
__pycache__
*.pyc
venv
.venv
*.log
logs/
coverage
.vscode
config/twitter_cache.json
config/reddit_cache.json
**/reddit_cache.json
settings.json
